Ufone 5G RAG-Powered Telecom Assistant
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1p_DpRmqJKbhFcoro01onW677E4NVCt_c",
          "mode": "list",
          "cachedResultName": "ufone pakages",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1p_DpRmqJKbhFcoro01onW677E4NVCt_c"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        -16
      ],
      "id": "3a29180a-083d-45f7-b2f4-7b35d7918244",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pmmFTRLJEqMfZXOT",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        -16
      ],
      "id": "6b3cb13f-7e6c-4806-93ee-904af58ee430",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pmmFTRLJEqMfZXOT",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ufonepakage",
          "mode": "list",
          "cachedResultName": "ufonepakage"
        },
        "embeddingBatchSize": 400,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        128,
        -16
      ],
      "id": "983b898a-94a5-45a5-8d00-b1c2f38585cf",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "AUJsOTJUp7JdQnc4",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        176
      ],
      "id": "da7359c8-292a-4584-93d0-6b864ced0fe6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "A5P5QU00jQXmBQhA",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        240,
        176
      ],
      "id": "d6ff5b84-f8b2-43a5-a8b5-8bfcb82d9628",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ufone",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        560,
        -32
      ],
      "id": "b6955086-8f76-438f-9a0c-f3abd9c078fc",
      "name": "Webhook",
      "webhookId": "7a98fcbc-8489-41ae-8b6d-8f28a4d852bf"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a precise Information Extraction Assistant. Your sole purpose is to answer user queries using the provided Vector Store tool.\n\n[CRITICAL INSTRUCTIONS]\n1. Tool Usage: Always execute and retrieve data from the 'Vector Store' tool for every single query. Do not rely on your pre-trained knowledge.\n2. Grounding: Base your answers ONLY on the information retrieved from the Vector Store. If the tool does not return relevant information, state clearly: \"I cannot find this information in the provided knowledge base.\"\n3. Tone & Style: Keep your responses highly concise, factual, and directly to the point. Avoid fluff or conversational filler."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        768,
        -32
      ],
      "id": "bab64e7d-08a1-4b9a-8913-d8757d0b7472",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        640,
        176
      ],
      "id": "d6eb1262-04db-4fc1-bde5-c0ed68e2336c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "A5P5QU00jQXmBQhA",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        784,
        176
      ],
      "id": "d24e9cfb-986f-4580-8d25-bdbbc6dfd34d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "work with your pincone vector store",
        "pineconeIndex": {
          "__rl": true,
          "value": "ufonepakage",
          "mode": "list",
          "cachedResultName": "ufonepakage"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        944,
        160
      ],
      "id": "c0f1a052-c629-4336-b73b-78418882bc54",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "AUJsOTJUp7JdQnc4",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        304
      ],
      "id": "9e63f368-d92a-48a4-abac-4c3770f4f8b8",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "A5P5QU00jQXmBQhA",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        -32
      ],
      "id": "b22494ce-2d42-415a-9b17-d22b8e3736d4",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "44f15e5d2687eeaf77a809dbf46489331c96f72d1b12166b60f2be6407b95a7a"
  }
}
